aiofiles==25.1.0
beautifulsoup4==4.14.3
chromadb==0.4.22
elasticsearch==9.2.1
fastapi==0.128.0
Flask==3.1.2
flask_sqlalchemy==3.1.1
httpx==0.28.1
langchain==1.2.4
langchain_core==1.2.7
langchain_openai==1.1.7
langchain_text_splitters==1.1.0
llama_index==0.14.12
matplotlib==3.10.8
numpy<2.0
openai==2.15.0
opendal==0.46.0
pandas==2.3.3
protobuf==6.33.4
pydantic==2.12.5
pydantic_settings==2.12.0
pypdfium2==5.2.0
python-dotenv==1.2.1
python-multipart>=0.0.21
python_docx==1.2.0
python_pptx==1.0.2
Requests==2.32.5
SQLAlchemy==2.0.45
uvicorn==0.40.0
